.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;

  .board-container {
    margin-right: 2rem;
  }

  .information {
    .winner,
    .active-player {
      margin: 0 0 1rem 0;
    }

    .feed-item {
      margin: 0 0 0.5rem 0;
    }
  }
}
